:root {
    --personio-primary-dark: #000000;
    --personio-secondary-dark: #14213D;
    --personio-secondary-dark-transparent: #14213D0A;
    --personio-primary-light: #FFFFFF;
    --personio-secondary-light: rgba(238, 237, 237, 0);
    --personio-outline: #FCA311;
    --personio-outline-transparent: #FCA31119;
    --personio-darker-outline-transparent: #FCA3117F;
    --personio-gray: #c5c4c4;

}

/*Global components start*/
body {
    font-family: 'Cairo', sans-serif;
}
.custom-btn {
    background-color: var(--personio-primary-light);
    border:none;
    color: var(--personio-primary-dark);
}
.custom-btn:hover,
.custom-btn:focus,
.custom-btn:checked,
.custom-btn:target{
    background-color: var(--personio-secondary-dark);
    color: var(--personio-outline);
    box-shadow: none;
}
/*Global components end*/

/*Navbar begin*/
/*global navbar setting*/
.navbar {
    background-color: var(--personio-primary-dark);
}
/*global navbar setting end*/

/*navbar logo setting*/
.navbar .logo {
    color: var(--personio-outline);
    max-width: 240px;
}
.navbar .logo img{
    width: 100px;
}
.navbar .logo span{
    letter-spacing: 0.1rem;
}
/*navbar logo setting end*/

/*navbar toggler setting*/
.navbar .navbar-toggler {
    color: var(--personio-outline);
    font-size: 1.5rem;
    border-color: var(--personio-outline);
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--personio-secondary-light);
}
/*navbar toggler setting end*/

/*navbar links setting*/
.navbar .navbar-nav .nav-link {
    color: var(--personio-primary-light);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--personio-outline);
}
/*navbar links setting end*/

/*navbar other setting*/
.navbar .search {
    border-left: 1px solid var(--personio-outline);
}
.navbar .search svg {
    color: var(--personio-outline);
}
/*navbar other setting end*/

/*Navbar end*/

/*Main section*/
.landing {
    background-color: var(--personio-primary-dark);
    height: calc(100vh - 70px);
}
.landing .content-container {
    color: var(--personio-primary-light);
}
.landing .content-container p {
    color: var(--personio-secondary-light);
}
/*Main section end*/

/*Services Section setting*/
.features,
.my-skills {
    background-color: var(--personio-secondary-dark);
    color: var(--personio-primary-light);
}
.features .container,
.my-skills .container {
    background-image: url("../imgs/bg1.svg");
    background-position:top center;
    background-repeat:no-repeat;
}
.features .container .main-title::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--personio-outline);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder {
    height: 200px;
}
.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .service-count {
    font-size: 12rem;
    color: var(--personio-outline-transparent);
}
.features .icon-holder .service-icon {
    color: var(--personio-primary-light);
}
.features .feat h4 {
    color: var(--personio-outline);
}
.features .service-card {
    transition: 50ms ease-in-out;
    border-radius: 50px;
}
.features .service-card:hover {
    background-color: var(--personio-primary-dark);
    border: transparent;
    border-radius: 50px;
}
.features .service-card:hover .service-description,
.features .service-card:hover .service-icon {
    color: var(--personio-primary-light);
}
.features .service-card:hover .service-count {
    color: transparent;
    stroke: var(--personio-outline);
}
/*Services Section end*/

/*Portfolio Section setting*/
.portfolio{
    background-color: var(--personio-primary-dark);
    background-image: url("../imgs/bg2.svg");
    background-position:top center;
    background-repeat:no-repeat;
}
.portfolio ul .active {
    background-color: var(--personio-outline);
    color: var(--personio-primary-dark);
}
.portfolio ul  {
    flex-wrap: wrap;
}
.portfolio ul li {
    padding: 0 1rem;
    cursor: pointer;
    color: var(--personio-primary-light);
}
.portfolio ul li:not(.active):hover {
    color: var(--personio-outline);
}
.portfolio .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
    background-color: var(--personio-outline);
}
.portfolio .box::before{
    content: attr(data-work);
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: var(--personio-darker-outline-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--personio-primary-dark);
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100%));
}
.portfolio .box:hover::before {
    transform: translateX(0);
}
.portfolio h2 {
    color: var(--personio-primary-light);
}
.portfolio #portfolio-gallery .hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition-timing-function: linear, step-end;

}
.portfolio #portfolio-gallery .displayed {
    max-width: 100%;
    height: auto;
    transition: opacity 3s linear, height 3s step-start;
}
/*Portfolio Section end*/
/*Skills Section setting*/
.progress-bar-color-control {
    background-color: var(--personio-primary-light);
    color: var(--personio-outline);
}
/*Skills Section End*/

/*Clients Section setting*/
.client-section {
    background-color: var(--personio-gray);
}
.client-section .main-title h2 {
    color: var(--personio-secondary-dark);
}
/* Slider */
.slides-main-container {
    height: 200px;
    display: flex;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.slides-main-container .slides-holder {
    -webkit-animation: sliding 30s linear infinite;
    animation: sliding 30s linear infinite;
    background-color: var(--personio-secondary-light);;
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*width must be equal to the product of 250 with items amount here we have 32*/
    width: calc(250px * 32);
}
.slides-main-container .slider-item {
    height: 50px;
    width: 250px;
}
.slides-main-container .slider-item img{
    height: 50px;
    width: 90px;
    opacity: 1;
    transition: 1s ease;

}
.slides-main-container .slider-item img:hover{
    opacity: .2;
}
@-webkit-keyframes sliding {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        /*transform must be the product of 250 with half of items amount*/
        -webkit-transform: translateX(calc(-250px * 16));
        transform: translateX(calc(-250px * 16));
    }
}
@keyframes sliding {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        /*transform must be the product of 250 with half of items amount*/
        -webkit-transform: translateX(calc(-250px * 16));
        transform: translateX(calc(-250px * 16));
    }
}
/* Slider */
/*Clients Section end*/

/*Contact-Options Section setting*/
.contact-options-section {
    background-color: var(--personio-primary-dark);
    background-image: url("../imgs/bg2.svg");
    background-position:top center;
    background-repeat:no-repeat;
}

.contact-options-section h2{
    color: var(--personio-primary-light);
}

.contact-options-section .platforms {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.contact-options-section .platforms a{
    text-decoration: none;
    transition: 300ms linear;
    cursor: pointer;
    margin: 1rem;
}
.contact-options-section .platforms img{
    width: 150px;
    height: 100%;
    padding: 1rem;
}

.contact-options-section img:hover{
    box-shadow: 0 0 0 4px var(--personio-outline) ;
}
/*Contact-Options Section end*/
/*Phone Landscape Viewport Width*/
@media screen and(min-width: 30em) {

}
/*Tablet Viewport Width*/
@media screen and(min-width: 48em) {

}
/*Tablet Landscape Viewport Width*/
@media screen and(min-width: 64em) {

}
/*Desktop Viewport Width*/
@media screen and(min-width: 78.75em) {

}