:root,
:root.default{
    --personio-primary-dark: #000000;
    --personio-secondary-dark: #14213D;
    --personio-primary-light: #FFFFFF;
    --personio-outline: #FCA311;
    --personio-darker-outline-transparent: #FCA3117F;
    --personio-gray: rgba(197, 196, 196, 0.1);
    --main-bg: url('../imgs/bg1.svg');
}
:root.dark1{
    --personio-primary-dark: #0b132b;
    --personio-secondary-dark: #1c2541;
    --personio-primary-light: #6fffe9;
    --personio-outline: #fb8f67;
    --personio-darker-outline-transparent: rgba(251,143,103,0.1);
    --personio-gray: rgba(73,71,71,0.3);
    --main-bg: url('../imgs/bg1b.svg');
}
:root.dark2{
    --personio-primary-dark: #000;
    --personio-secondary-dark: #000;
    --personio-primary-light: #c2c3c4;
    --personio-outline: #ae2012;
    --personio-darker-outline-transparent: rgba(174,32,18,0.1);
    --personio-gray: rgba(73,71,71,0.3);
    --main-bg: url('../imgs/bg1c.svg');
}
:root.dark3{
    --personio-primary-dark: #242423;
    --personio-secondary-dark: #333533;
    --personio-primary-light: #cfdbd5;
    --personio-outline: #f5cb5c;
    --personio-darker-outline-transparent: rgba(254,109,115,0.1);
    --personio-gray: #494747;
    --main-bg: url('../imgs/bg1a.svg');
}
:root.dark4{
    --personio-primary-dark: #2b2a33;
    --personio-secondary-dark: #42414d;
    --personio-primary-light: #fff;
    --personio-outline: #ECAA61;
    --personio-darker-outline-transparent: rgba(251,143,103,0.1);
    --personio-gray: #494747;
    --main-bg: url('../imgs/bg1a.svg');
}
:root.light1{
    --personio-primary-dark: #fff;
    --personio-secondary-dark: #adb5bd;
    --personio-primary-light: #000;
    --personio-outline: #c22568;
    --personio-darker-outline-transparent: rgba(251,143,103,0.1);
    --personio-gray: #494747;
    --main-bg: url('../imgs/bg1d.svg');
}
:root.light2{
    --personio-primary-dark: #fff;
    --personio-secondary-dark: #adb5bd;
    --personio-primary-light: #000;
    --personio-outline: #0d6efd;
    --personio-darker-outline-transparent: rgba(251,143,103,0.1);
    --personio-gray: #494747;
    --main-bg: url('../imgs/bg1e.svg');
}
/*Global components start*/
body {
    font-family: 'Cairo', sans-serif;
    background-color: var(--personio-secondary-dark);
}

.custom-btn {
    background-color: var(--personio-primary-light);
    border: none;
    color: var(--personio-primary-dark);
}

.custom-btn:hover,
.custom-btn:focus,
.custom-btn:checked,
.custom-btn:target {
    background-color: var(--personio-secondary-dark);
    color: var(--personio-outline);
    box-shadow: none;
}

h2, strong {
    color: var(--personio-outline);
}

p {
    color: var(--personio-primary-light);
}
select {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    background-color: var(--personio-primary-dark);
    color: var(--personio-primary-light);
    border-radius: 0.25rem;
}
/*Global components end*/

/*Navbar begin*/
/*global navbar setting*/
.navbar {
    background-color: var(--personio-primary-dark);
}
/*global navbar setting end*/

/*navbar logo setting*/
.navbar .logo {
    color: var(--personio-outline);
    max-width: 240px;
}

.navbar .logo img {
    width: 100px;
}

.navbar .logo span {
    letter-spacing: 0.1rem;
}

.lang-btn {
    margin-right: 2.25rem;
}
/*navbar logo setting end*/

/*navbar toggler setting*/
.navbar .navbar-toggler {
    color: var(--personio-outline);
    font-size: 1.5rem;
    border-color: var(--personio-outline);
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--personio-primary-light);
}

/*navbar toggler setting end*/

/*navbar links setting*/
.navbar .navbar-nav .nav-link {
    color: var(--personio-primary-light);
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--personio-outline);
}

/*navbar links setting end*/

/*navbar other setting*/
.navbar .search {
    border-left: 1px solid var(--personio-outline);
}

.navbar .search svg {
    color: var(--personio-outline);
}

/*navbar other setting end*/

/*Navbar end*/


/*Color Picker Setting*/
.themes-container {
    color: var(--personio-primary-light);
}
.colors-pattern {
    background: radial-gradient(#fadde1 , #ffc4d6, #ffa6c1, #ff87ab, #ff5d8f, #ff97b7, #ffacc5, #ffcad4, #f4acb7);
    width: 12px;
    height: 26px;
    border-radius: 50%;
}
.color-btn {
    color: var(--personio-primary-light);
}
/*Color Picker end*/
/*Main section*/
.landing {
    background-color: var(--personio-primary-dark);
    height: calc(100vh - 70px);
    position: relative;
    z-index: 1;
}

.landing::before {
    position: absolute;
    content: "";
    background-image: url("../imgs/portrait.svg");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: contain;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

.landing .content-container {
    color: var(--personio-primary-light);
}

.landing .content-container p {
    color: var(--personio-outline);
    background: var(--personio-primary-dark);
}

/*Main section end*/

/*Services Section setting*/
.features,
.my-skills {
    background-color: var(--personio-secondary-dark);
    color: var(--personio-primary-light);
}

.features .container,
.my-skills .container {
    background-image: var(--main-bg);
    background-position: top center;
    background-repeat: no-repeat;
}

.features .container .main-title::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--personio-outline);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder {
    height: 200px;
}

.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .service-count {
    font-size: 12rem;
    color: var(--personio-gray);
}

.features .icon-holder .service-icon {
    color: var(--personio-outline);
}

.features .feat h4 {
    color: var(--personio-outline);
}

.features .service-card {
    transition: 50ms ease-in-out;
    border-radius: 50px;
}

.features .service-card:hover {
    border: transparent;
    border-radius: 30px;
}

.features .service-card:hover .service-description,
.features .service-card:hover .service-icon {
    color: var(--personio-primary-light);
}
.features .feat {
    background: var(--personio-primary-dark);
    padding: 10px;
    border-radius: 30px;
    border: 2px solid var(--personio-outline);
}
.features .service-card:hover .service-count {
    color: transparent;
    stroke: var(--personio-outline);
}

.features p.service-description  {
    text-align: justify;
}

/*Services Section end*/

/*Blog Section Setting*/
.blog .main-title h2 {
    color: var(--personio-outline);
}

.blog .main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--personio-outline);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    border: 2px solid var(--personio-outline);
    background-color: var(--personio-primary-dark);
    color: var(--personio-primary-light);
}
.modal-content {
    background-color: var(--personio-secondary-dark);
    text-align: justify;
}
.modal-header {
    flex-direction: column;
}

.modal-header .btn-close {
    background-color: var(--personio-outline);
}
/*Blog Section end*/


/*Portfolio Section setting*/
.portfolio {
    background-color: var(--personio-primary-dark);
    background-image: url("../imgs/bg2.svg");
    background-position: top center;
    background-repeat: no-repeat;
}

.portfolio ul .active {
    background-color: var(--personio-outline);
    color: var(--personio-primary-dark);
}

.portfolio ul {
    flex-wrap: wrap;
}

.portfolio ul li {
    padding: 0 1rem;
    cursor: pointer;
    color: var(--personio-primary-light);
}

.portfolio ul li:not(.active):hover {
    color: var(--personio-outline);
}

.portfolio .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
    background-color: var(--personio-outline);
}

.portfolio .box::before {
    content: attr(data-work);
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: var(--personio-darker-outline-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--personio-primary-dark);
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100%));
}

.portfolio .box:hover::before {
    transform: translateX(0);
}

.portfolio #portfolio-gallery .hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition-timing-function: linear, step-end;

}

.portfolio #portfolio-gallery .displayed {
    max-width: 100%;
    height: auto;
    transition: opacity 3s linear, height 3s step-start;
}

/*Portfolio Section end*/
/*Skills Section setting*/
.progress-bar-color-control {
    background-color: var(--personio-primary-light);
    color: var(--personio-primary-light);
}
.progressbar-text span{
    color: var(--personio-outline);
}
.progressbar-text span{
    color: var(--personio-outline);
}

.progressbar-text .skill-des{
    color: var(--personio-outline);
}

/*Skills Section End*/

/*Clients Section setting*/
.client-section {
    background-color: var(--personio-primary-dark);
}

.client-section .main-title h2 {
    color: var(--personio-outline);
}

/* Slider */
.slides-main-container {
    display: flex;
    margin: auto;
    height: 55px;
    overflow: hidden;
    position: relative;
    background-color: white;
}

.slides-main-container .slides-holder {
    -webkit-animation: sliding 30s linear infinite;
    animation: sliding 30s linear infinite;
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*width must be equal to the product of 250 with items amount here we have 32*/
    width: calc(250px * 32);
}

.slides-main-container .slider-item {
    height: 50px;
    width: 250px;
}

.slides-main-container .slider-item img {
    height: 50px;
    width: 90px;
    opacity: 1;
    transition: 1s ease;
}

.slides-main-container .slider-item img:hover {
    opacity: .2;
}

@-webkit-keyframes sliding {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        /*transform must be the product of 250 with half of items amount*/
        -webkit-transform: translateX(calc(-250px * 16));
        transform: translateX(calc(-250px * 16));
    }
}

@keyframes sliding {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        /*transform must be the product of 250 with half of items amount*/
        -webkit-transform: translateX(calc(-250px * 16));
        transform: translateX(calc(-250px * 16));
    }
}

/* Slider */
/*Clients Section end*/

/*Contact-Options Section setting*/
.contact-options-section {
    background-color: var(--personio-primary-dark);
    background-image: url("../imgs/bg2.svg");
    background-position: top center;
    background-repeat: no-repeat;
}

.contact-options-section .platforms {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.contact-options-section .platforms a {
    text-decoration: none;
    transition: 300ms linear;
    cursor: pointer;
    margin: 1rem;
}

.contact-options-section .platforms img {
    width: 150px;
    height: 100%;
    padding: 1rem;
    background-color: var(--personio-outline);
}


.contact-options-section .whatsapp-btn {
    background: #25d366;
    color: var(--personio-primary-dark);
    border: none;
}

.contact-options-section .whatsapp-btn:hover {
    background: #075e54;
    color: var(--personio-primary-light);
}

/*Contact-Options Section end*/

/*customer-reviews Section setting*/
.customers-section {
    background-color: var(--personio-secondary-dark);
}

.customers-section h2 {
    color: var(--personio-outline);
}

.avatar-container {
    display: flex;
    justify-content: center;
}

.avatar-container img {
    width: 100px;
    height: 100px;
}

#customers-section .carousel-inner .carousel-item .client-info {
    margin-top: 1rem;
    text-align: center;
    color: white;
}

.review-card svg,
.controls svg {
    font-size: 2rem;
    color: var(--personio-outline);
}

.review-card {
    background-color: var(--personio-primary-dark);
    border-radius: 1.25rem;
    color: var(--personio-primary-light);
    box-shadow:1px 1px 1px var(--personio-outline);
    height: auto;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1.25rem solid var(--personio-outline);
}

/*customer-reviews Section end*/

/*Contact-form Section setting*/
.contact-info-section {
    background-color: var(--personio-primary-dark);
    color: var(--personio-primary-light);
}

.contact-info-section h2 {
    color: var(--personio-outline);
}

.contact-info-section input,
.contact-info-section textarea {
    background-color: var(--personio-secondary-dark);
    color: var(--personio-outline);
}

.contact-info-section input:focus,
.contact-info-section textarea:focus {
    outline: none;
    border: 2px solid var(--personio-outline);
    background-color: var(--personio-secondary-dark);
    color: var(--personio-outline);
}

.contact-info-section svg {
    color: var(--personio-outline);
}

#contact-information {
    border: 2px solid var(--personio-outline);
    border-radius: 30px;
}

#contact-info {
    border-bottom: 2px solid var(--personio-outline);
    border-right: none;
}

/*Contact-form Section end*/
/*Footer Section setting*/
footer {
    background-color: var(--personio-secondary-dark);
    color: var(--personio-outline);
}

footer a {
    text-decoration: none;
    color: var(--personio-outline);
}

footer .right-side a {
    color: var(--personio-primary-light);
}

footer a:hover {
    text-decoration: none;
    color: var(--personio-primary-light);
}

footer .right-side a:hover {
    color: var(--personio-outline);
}

.footer-content-container {
    justify-content: center;
}

/*Footer Section end*/

/*Break points setting*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #customers-section .carousel-inner .carousel-item .client-info {
        margin-top: 0.5rem;
        text-align: left;
    }
    #customers-section .carousel-inner .carousel-item .client-info-ar {
        text-align: right;
    }
    .footer-content-container {
        justify-content: space-between;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #customers-section .carousel-inner .carousel-item .client-info {
        margin-top: 0;
    }

    #contact-info {
        border-right: 2px solid var(--personio-outline);
        border-bottom: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
